<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Boxing Buddy</a></h1>
        </li>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li id="regular-btn" class="rhythm-type-btn active"><a href="#">Regular</a></li>
              <li id="random-btn" class="rhythm-type-btn"><a href="#">Random</a></li>
            </ul>

            <!-- Left Nav Section -->
            <!-- <ul class="left">
              <li><a href="#">Stats</a></li>
            </ul> -->
          </section>

        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
    </nav>

<!--     <div class="row">
      <div class="large-12 columns"> -->
        <%= yield %>
      <!-- </div>
    </div> -->

  </body>
</html>
